@import url('https://fonts.googleapis.com/css2?family=Varela+Round&display=swap');

*{
    font-family: 'Varela Round', sans-serif;
   
}

body {
    background-image: url("./Images/Homeimg.png");
    
    
    background-repeat: no-repeat; 
    background-size: cover; 
    background-position: center center;
    background-attachment: fixed; 
    
}

@media(max-width:998px){
    html{
        font-size:45%
    }
   
}
@media(max-width:768px){
    html{
        font-size:45%
    }
}